<% content_for(:title, "Sellers") %>

<div class="container-fluid">

<% if @sellers.any? %>
  <ul>
    <% @sellers.each do |seller| %>
      <ol><%= link_to seller.email %>
      <p><%= link_to "View Profile", seller_path(seller), class: 'btn btn-primary' %><hr>
      </ol>
    <% end %>
  </ul>

  <hr>

  <% else %>
  <p>No sellers available!!!</p>
  <% end %>
</div>